<h1>Welcome</h1>
<p> in app/views/home_page/index.html.erb</p>
<table>
    <tr>
    <td>
        <%= link_to 'Student log', new_student_session_path %><br>
        <%= link_to 'Librarian log',new_librarian_session_path %><br>
        <%= link_to 'Admin Login',new_admin_session_path %>
    </td>
</tr>
</table>